<a href="https://colab.research.google.com/github/RheedWhan/AltSchool_DataScience_2023/blob/main/Conditionals_and_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### CONDITIONALS

In [1]:
if 10 > 6:
  print("Right")

Right

In [2]:
if 9 < 6:
  print("Right")
else:
  print("Wrong")

Wrong

In [3]:
# Input function

score = input()

34

In [4]:
score

'34'

In [5]:
score = float(input("Enter your score: "))

Enter your score: 36

In [6]:
score

36.0

In [7]:
score = input("Enter your score: ")

Enter your score: 44

In [8]:
score

'44'

In [9]:
score = float(input("Enter your score: "))

Enter your score: 344

In [10]:
score

344.0

In [11]:
type(score)

float

In [12]:
score = float(input("Enter your score: "))

if score >= 90 and score <= 100:
  grade = 'A'
elif score >= 80 and score <= 89:
  grade = 'B'
elif score >= 70 and score <= 79:
  grade = 'c'
elif score >= 60 and score <= 69:
  grade = 'D'
elif score > 100:
  grade = 'Out of grade'
else:
  grade = 'F'
print(f'Your grade is: {grade}')

Enter your score: 444
Your grade is: Out of grade

In [13]:
# Nested Conditionals

age = 7
vaccinated = False

if age > 8:
  if not vaccinated:
      print('you are eligible')
  else:
      print('you have been vaccinated')
else:
  print('you are not eligible')

you are not eligible

In [14]:
age = int(input('Enter your age: '))
vaccinated = input('Enter vaccination status (Y/N): ')

if age > 8:
  if vaccinated == 'N':
      print('you are eligible')
  elif vaccinated == 'Y':
      print('you have been vaccinated')
else:
  print('you are not eligible')

Enter your age: 44
Enter vaccination status (Y/N): 44

### LOOPS

In [15]:
# for loop

days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

for day in days:
  print(day)

Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday

In [16]:
# Conditionals with loops

days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

for day in days:
  if day == 'Wednesday' or  day == 'saturday':
      print('Live Session Today!')
  print(day)

Monday
Tuesday
Live Session Today!
Wednesday
Thursday
Friday
Saturday
Sunday

In [17]:
days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

event = ''
for day in days:
  if day == 'Wednesday' or  day == 'saturday':
      else:
        print(day)
  print(day, event)

SyntaxError: ignored

In [ ]:
for day in days:
  event = ''

if day == 'Wednesday' or day == 'Saturday':
  event = 'Live Class!'

print(day, event)

In [ ]:
# Using a break keyword

for day in days:
  if day == 'Thursday':
    break
  print(day)

In [ ]:
even = []
for i in range(0, 13):
  if i % 2 == 0:
    even.append(i)
print(even)

In [ ]:
odd = []
for i in range(0, 13):
  if i % 2 == 1:
    odd.append(i)
print(odd)

In [ ]:
num = [1 ,2, 3, 4, 5, 6, 7]

In [ ]:
type(num)

In [ ]:
dir(num)

In [ ]:
# If statements

list = ['Sola', False, 993]

In [ ]:
for n in list:
  if n == 993:
    print(n-2)
  elif n == True:
    print(n)
  else:
    print(n)

In [ ]:
year =int(input('input your year: '))

if year >= 17:
    print("You are allowed to vote")
else:
    print("You are not allowed to vote")

In [ ]:
# Conditionals with loop

job_openings = ['data scientist', 'software developer', 'blockchain developer', 'product designer']

for job_opening in job_openings:
  if job_opening == 'data scientist':
    print('Sorry, We are not hiring for a data scientist role')
  else:
    print(f'We are not hiring a {job_opening}')
print('\nThank you for checking our job openings')

In [ ]:
job_openings = input('Enter the job role: ')

if job_openings == 'data scientist':
  print('Sorry, We are not hiring for a data scientist role')
else:
  print(f'We are not hiring a {job_openings}')
print('\nThank you for checking our job openings')

# While loop

In [22]:
counter = 0
while counter < 8:
  print(counter)
  counter += 1

0
1
2
3
4
5
6
7

In [23]:
counter

8

In [24]:
counter = 0
while counter < 8:
  print(counter)
  if counter == 3:
    break
  counter += 1

0
1
2
3

In [27]:
counter = int(input('Enter number: '))
while counter < 8:
  print(counter)
  if counter == 3:
    break
  counter += 1

Enter number: 1
1
2
3

In [28]:
counter = 0
while counter < 8:
  print('Hi Ridwan')
  if counter == 3:
    break
  counter += 1

Hi Ridwan
Hi Ridwan
Hi Ridwan
Hi Ridwan

In [ ]:
counter = 0
while counter < 8:
  print('Hi Ridwan')
  if counter == 3:
    break
  counter += 1