<a href="https://colab.research.google.com/github/RheedWhan/AltSchool_DataScience_2023/blob/main/Conditionals_and_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### CONDITIONALS

In [1]:
if 10 > 6:
  print("Right")

Right

In [2]:
if 9 < 6:
  print("Right")
else:
  print("Wrong")

Wrong

In [3]:
# Input function

score = input()

7

In [4]:
score

'7'

In [5]:
score = float(input("Enter your score: "))

Enter your score: 3

In [6]:
score

3.0

In [7]:
score = input("Enter your score: ")

Enter your score: 4

In [8]:
score

'4'

In [9]:
score = float(input("Enter your score: "))

Enter your score: 66

In [10]:
score

66.0

In [11]:
type(score)

float

In [12]:
score = float(input("Enter your score: "))

if score >= 90 and score <= 100:
  grade = 'A'
elif score >= 80 and score <= 89:
  grade = 'B'
elif score >= 70 and score <= 79:
  grade = 'c'
elif score >= 60 and score <= 69:
  grade = 'D'
elif score > 100:
  grade = 'Out of grade'
else:
  grade = 'F'
print(f'Your grade is: {grade}')

Enter your score: 78
Your grade is: c

In [13]:
# Nested Conditionals

age = 7
vaccinated = False

if age > 8:
  if not vaccinated:
      print('you are eligible')
  else:
      print('you have been vaccinated')
else:
  print('you are not eligible')

you are not eligible

In [14]:
age = int(input('Enter your age: '))
vaccinated = input('Enter vaccination status (Y/N): ')

if age > 8:
  if vaccinated == 'N':
      print('you are eligible')
  elif vaccinated == 'Y':
      print('you have been vaccinated')
else:
  print('you are not eligible')

Enter your age: 45
Enter vaccination status (Y/N): Y
you have been vaccinated

### LOOPS

In [15]:
# for loop

days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

for day in days:
  print(day)

Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday

In [16]:
# Conditionals with loops

days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

for day in days:
  if day == 'Wednesday' or  day == 'saturday':
      print('Live Session Today!')
  print(day)

Monday
Tuesday
Live Session Today!
Wednesday
Thursday
Friday
Saturday
Sunday

In [20]:
days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

event = ''
for day in days:
  if day == 'Wednesday' or  day == 'saturday':
      else:
        print(day)
  print(day, event)

SyntaxError: ignored

In [21]:
for day in days:
  event = ''

if day == 'Wednesday' or day == 'Saturday':
  event = 'Live Class!'

print(day, event)

Sunday

In [22]:
# Using a break keyword

for day in days:
  if day == 'Thursday':
    break
  print(day)

Monday
Tuesday
Wednesday

In [23]:
even = []
for i in range(0, 13):
  if i % 2 == 0:
    even.append(i)
print(even)

[0, 2, 4, 6, 8, 10, 12]

In [24]:
odd = []
for i in range(0, 13):
  if i % 2 == 1:
    odd.append(i)
print(odd)

[1, 3, 5, 7, 9, 11]

In [25]:
num = [1 ,2, 3, 4, 5, 6, 7]

In [26]:
type(num)

list

In [27]:
dir(num)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [28]:
# If statements

list = ['Sola', False, 993]

In [37]:
for n in list:
  if n == 993:
    print(n-2)
  elif n == True:
    print(n)
  else:
    print(n)

Sola
False
991

In [49]:
year =int(input('input your year: '))

if year >= 17:
    print("You are allowed to vote")
else:
    print("You are not allowed to vote")

input your year: 12
You are not allowed to vote

In [51]:
# Conditionals with loop

job_openings = ['data scientist', 'software developer', 'blockchain developer', 'product designer']

for job_opening in job_openings:
  if job_opening == 'data scientist':
    print('Sorry, We are not hiring for a data scientist role')
  else:
    print(f'We are not hiring a {job_opening}')
print('\nThank you for checking our job openings')

Sorry, We are not hiring for a data scientist role
We are not hiring a software developer
We are not hiring a blockchain developer
We are not hiring a product designer

Thank you for checking our job openings

In [56]:
job_openings = input('Enter the job role: ')

if job_openings == 'data scientist':
  print('Sorry, We are not hiring for a data scientist role')
else:
  print(f'We are not hiring a {job_openings}')
print('\nThank you for checking our job openings')

Enter the job role: Bouncer
We are not hiring a Bouncer

Thank you for checking our job openings