<a href="https://colab.research.google.com/github/RheedWhan/AltSchool_DataScience_2023/blob/main/Conditionals_and_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### CONDITIONALS

In [ ]:
if 10 > 6:
  print("Right")

Right

In [ ]:
if 9 < 6:
  print("Right")
else:
  print("Wrong")

Wrong

In [ ]:
# Input function

score = input()

45

In [ ]:
score

'45'

In [ ]:
score = float(input("Enter your score: "))

Enter your score: 75

In [ ]:
score

75.0

In [ ]:
score = input("Enter your score: ")

Enter your score: 95

In [ ]:
score

'95'

In [ ]:
score = float(input("Enter your score: "))

Enter your score: 90

In [ ]:
score

90.0

In [ ]:
type(score)

float

In [ ]:
score = float(input("Enter your score: "))

if score >= 90 and score <= 100:
  grade = 'A'
elif score >= 80 and score <= 89:
  grade = 'B'
elif score >= 70 and score <= 79:
  grade = 'c'
elif score >= 60 and score <= 69:
  grade = 'D'
elif score > 100:
  grade = 'Out of grade'
else:
  grade = 'F'
print(f'Your grade is: {grade}')

Enter your score: 124
Your grade is: Out of grade

In [ ]:
# Nested Conditionals

age = 7
vaccinated = False

if age > 8:
  if not vaccinated:
      print('you are eligible')
  else:
      print('you have been vaccinated')
else:
  print('you are not eligible')

you are not eligible

In [ ]:
age = int(input('Enter your age: '))
vaccinated = input('Enter vaccination status (Y/N): ')

if age > 8:
  if vaccinated == 'N':
      print('you are eligible')
  elif vaccinated == 'Y':
      print('you have been vaccinated')
else:
  print('you are not eligible')

Enter your age: 19
Enter vaccination status (Y/N): N
you are eligible

### LOOPS

In [ ]:
# for loop

days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

for day in days:
  print(day)

Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday

In [ ]:
# Conditionals with loops

days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

for day in days:
  if day == 'Wednesday' or  day == 'saturday':
      print('Live Session Today!')
  print(day)

Monday
Tuesday
Live Session Today!
Wednesday
Thursday
Friday
Saturday
Sunday

In [ ]:
days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

event = ''
for day in days:
  if day == 'Wednesday' or  day == 'saturday':
      elif :
        print(day)
  print(day, event)

SyntaxError: ignored

In [ ]:
for day in days:
  event = ''

if day == 'Wednesday' or day == 'Saturday':
  event = 'Live Class!'

print(day, event)

Sunday

In [ ]:
# Using a break keyword

for day in days:
  if day == 'Thursday':
    break
  print(day)

Monday
Tuesday
Wednesday

In [ ]:
even = []
for i in range(0, 13):
  if i % 2 == 0:
    even.append(i)
print(even)

[0, 2, 4, 6, 8, 10, 12]

In [ ]:
odd = []
for i in range(0, 13):
  if i % 2 == 1:
    odd.append(i)
print(odd)

[1, 3, 5, 7, 9, 11]

In [ ]:
num = [1 ,2, 3, 4, 5, 6, 7]

In [ ]:
type(num)

list

In [ ]:
dir(num)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']