<a href="https://colab.research.google.com/github/RheedWhan/AltSchool_DataScience_2023/blob/main/Copy_of_AltSchool_Data_Structures_student_version.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Learning Objectives

By the end of this class, you should be able to:

1. Understand common Python data structures.
2. Apply CRUD operations to data structures.
3. Recognize use cases for data structures in data science.

CRUD

Create
Read
Update
Delete

## 1. Lists <a id="lists"></a>

In Python, lists are versatile and commonly used to store collections of items. You can create lists using square brackets `[]`. you can also use the list function: list()

lists are mutable, ordered, typically homogenous.

### Creating a Python List <a id="lists-create"></a>

In [1]:
# creating a list using square brackets
shopping_list = ['Groceries', 'Cocacola', 'Milo', 'Bama', 'Floating Berries']

In [2]:
shopping_list

['Groceries', 'Cocacola', 'Milo', 'Bama', 'Floating Berries']

In [3]:
# create a list using the list function
shopping_list2 = list(('Perfume', 'Soap', 'Tissue paper', 'Body cream'))

In [4]:
shopping_list2

['Perfume', 'Soap', 'Tissue paper', 'Body cream']

In [5]:
type(shopping_list2)

list

In [6]:
# create a list using the list function
shopping_list3 = list(['Perfume', 'Soap', 'Tissue paper', 'Body cream'])

In [7]:
shopping_list3

['Perfume', 'Soap', 'Tissue paper', 'Body cream']

In [8]:
shopping_list4 = []

### Reading a List <a id="lists-read"></a>

In [9]:
print(shopping_list3[0])

Perfume

In [10]:
# slicing a list: first two items

print(shopping_list3[0:2])

['Perfume', 'Soap']

In [11]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
numbers[::2]

[0, 2, 4, 6, 8]

In [13]:
numbers[-1]

9

### Updating a List <a id="lists-update"></a>

In [14]:
dir(shopping_list4)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [15]:
shopping_list4.append('Soap')

In [16]:
shopping_list4.append('Perfume')

In [17]:
print(shopping_list4)

['Soap', 'Perfume']

In [18]:
shopping_list4.insert(0, 'Tissue Paper')

In [19]:
print(shopping_list4)

['Tissue Paper', 'Soap', 'Perfume']

In [20]:
shopping_list4.extend(['Groceries', 'Cocacola', 'Milo', 'Bama', 'Floating Berries'])

In [21]:
print(shopping_list4)

['Tissue Paper', 'Soap', 'Perfume', 'Groceries', 'Cocacola', 'Milo', 'Bama', 'Floating Berries']

In [22]:
# removing items from a list: remove, pop

In [23]:
shopping_list4.pop()

'Floating Berries'

In [24]:
print(shopping_list4)

['Tissue Paper', 'Soap', 'Perfume', 'Groceries', 'Cocacola', 'Milo', 'Bama']

In [25]:
shopping_list4.remove('Soap')

In [26]:
print(shopping_list4)

['Tissue Paper', 'Perfume', 'Groceries', 'Cocacola', 'Milo', 'Bama']

In [27]:
shopping_list.update??

Object `shopping_list.update` not found.

### Delete

In [28]:
shopping_list4.clear()

In [29]:
print(shopping_list4)

[]

### List: Use Cases in Data Science <a id="lists-use-cases"></a>

### Use Case: Storing and Manipulating Datasets

#### Background

In data science, we often work with datasets that contain various types of information, such as numerical values, text data, or categorical variables. Python lists provide a convenient way to store and manipulate these datasets.

#### Scenario

Suppose we have collected data on the monthly sales revenue (in thousands of dollars) for a small retail store over the past year. The dataset includes sales data for each month. We want to use a Python list to store and analyze this dataset.

#### Implementation

Let's create a Python list called `monthly_sales` to store our dataset. Each element in the list represents the monthly sales revenue for one month, starting from January (index 0) to December (index 11).

```python
# Creating a list to store monthly sales data
monthly_sales = [120, 135, 150, 145, 155, 160, 170, 180, 190, 200, 210, 220]

In [30]:
monthly_sales = [120, 135, 150, 145, 155, 160, 170, 180, 190, 200, 210, 220]

In [31]:
total_yearly_revenue = sum(monthly_sales)

In [32]:
print(total_yearly_revenue)

2035

In [33]:
# avg = total/no. of total

average_revenue = total_yearly_revenue / len(monthly_sales)

In [34]:
print(round(average_revenue, 1))

169.6

### Assignment

1. From the list (monthly_sales) above,
- create four seperate lists frm the list for each quarter namely: q1, q2, q3, q4.
- report what quarter had the highest amount in total revenue,
- report the lowest.

In [35]:
# Your code here

2. Store the names of a few of your friends in a list called names.
- Print each person’s name by accessing each element in the list, one at a time.
- Start with the list you created, but instead of just printing each person’s name, print a message to them. The text of each message should be the same, but each message should be personalized with the person’s name. hint(use may use f-strings)

In [36]:
# Your code here

3. You are managing a list of students' names in your class.
* Create a list called student_names containing the following student names as strings: 'Alice', 'Bob', 'Charlie', 'David', 'Eve'.
- Use the student_names list from the list above for the following operations:
  - a. Print the number of students in the class (the length of the list).
  - b. Print the first and last student names in the list.
  - c. Charlie has left the class. Remove his name from the list.
  - d. A new student, "Frank," has joined the class. Add his name to the list.
  - e. The class has been dissolved, and you need to remove all student names from the list.

In [37]:
# Your code here

## 2. Tuples <a id="tuples"></a>

### Create <a id="sets-create"></a>

Creating a tuple is done by defining a sequence of elements enclosed in parentheses.

In [38]:
person = ('Sunday', 'Data Science', 'Fall Session')

In [39]:
person2 = 'Victoria', 'Data Science', 'Fall Session'

In [40]:
print(type(person))

<class 'tuple'>

In [41]:
type(person2)

tuple

In [42]:
# create a tuple using the tuple function

person_tuple = tuple(['Victoria', 'Data Science', 'Fall Session'])

In [43]:
person_tuple

('Victoria', 'Data Science', 'Fall Session')

### Read <a id="sets-read"></a>

Reading from a tuple is straightforward by accessing its elements using indexing.

In [44]:
person2[0]

'Victoria'

In [45]:
person2[:2]

('Victoria', 'Data Science')

### Update <a id="sets-update"></a>

Tuples are immutable, so you cannot directly update them. To "update," you need to create a new tuple.

In [46]:
person3 = ('Chibuike', person[1], person[2])

In [47]:
person3

('Chibuike', 'Data Science', 'Fall Session')

### Delete <a id="sets-delete"></a>

Like sets, you can delete a tuple using the del statement.

In [48]:
person

('Sunday', 'Data Science', 'Fall Session')

### Tuples: Use Cases in Data Science <a id="tuples-use-cases"></a>

- Immutability: Tuples are immutable, which means their values cannot be changed after creation. They are suitable for representing data that should not be modified, like record data.
- Data Integrity: Tuples can be used to ensure data integrity, as their immutability prevents accidental changes.
- Multiple Values: Tuples are often used to store multiple related values together, such as (latitude, longitude) pairs for geographical data.
- Function Return Values: Tuples are frequently used to return multiple values from functions, making it easy to process and unpack results.

## 3. Sets <a id="sets"></a>

Sets are a great data type that is used for pretty specific situations. You will find sets most useful for
de-duplicating lists or tuples or by using them to find differences between multiple lists

### Create <a id="sets-create"></a>

In [49]:
# using curly braces
my_set = {'a', 'b', 'b', 'c', 'd', 'd'}

In [50]:
print(my_set)

{'a', 'd', 'c', 'b'}

In [51]:
# using the set function
person_list = ['Chibuike', 'Data Science', 'Fall Session']
person_set = set(person_list)

print(person_set)

{'Data Science', 'Fall Session', 'Chibuike'}

### Read <a id="sets-read"></a>

You can access items in sets much faster than lists. A Python list will iterate over each item in a
list until it finds the item you are looking for. When you look for an item in a set, it acts much like
a dictionary and will find it immediately or not at all.

In [52]:
# using the in operator
'Fall Session' in person_set

True

### Update <a id="sets-update"></a>

In [53]:
# using the add method to update a set
person_set.add('First Semester')

In [54]:
person_set

{'Chibuike', 'Data Science', 'Fall Session', 'First Semester'}

In [55]:
# using the update method to add multiple items
person_set.update(['Circle 113', 'Python'])

In [56]:
print(person_set)

{'Python', 'Circle 113', 'First Semester', 'Data Science', 'Fall Session', 'Chibuike'}

In [57]:
# using the remove method
person_set.remove('Python')

In [58]:
print(person_set)

{'Circle 113', 'First Semester', 'Data Science', 'Fall Session', 'Chibuike'}

In [59]:
# using pop and discard method
person_set.discard('Circle 113')

In [60]:
print(person_set)

{'First Semester', 'Data Science', 'Fall Session', 'Chibuike'}

In [61]:
person_set.pop()

'First Semester'

### Delete <a id="sets-delete"></a>

In [62]:
# using the del keyword deletes the set
del person_set

In [63]:
#person_set

In [64]:
# using the clear method empties out the set
my_set.clear()

In [65]:
my_set

set()

In [66]:
my_set.add('4')

In [67]:
my_set = {'Toyin', 'Data Science'}

In [68]:
my_set

{'Data Science', 'Toyin'}

### Set operations <a id="sets-operate"></a>

- union() - Combines two sets and returns a new set
- intersection() - Returns a new set with the elements that are common between the two sets
- difference() - Returns a new set with elements that are not in the other set

In [69]:
first_set = {'python', 'ruby', 'javascript', 'pandas', 'numpy'}
second_set = {'pandas', 'numpy', 'seaborn'}

In [70]:
first_set.union(second_set)

{'javascript', 'numpy', 'pandas', 'python', 'ruby', 'seaborn'}

In [71]:
first_list = list(first_set)

In [72]:
first_list[0] = 'keras'

In [73]:
first_list

['keras', 'ruby', 'numpy', 'javascript', 'python']

In [74]:
first_tuple = tuple(first_list)

In [75]:
first_set = set(first_tuple)

In [76]:
first_set

{'javascript', 'keras', 'numpy', 'python', 'ruby'}

In [77]:
second_set

{'numpy', 'pandas', 'seaborn'}

In [78]:
first_set.intersection(second_set)

{'numpy'}

In [79]:
first_set.difference(second_set)

{'javascript', 'keras', 'python', 'ruby'}

### Sets: Use Cases in Data Science <a id="sets-use-cases"></a>

- Removing Duplicates: Sets are unordered collections of unique elements. They are often used to remove duplicates from data, ensuring that only unique values are retained.

In [80]:
data = [1, 2, 2, 3, 4, 4, 5]
unique_data = set(data)

- Membership Testing: Sets are efficient for checking whether an element is present in a dataset or not. This can be useful for filtering and data validation.

- Set Operations: Sets support set operations like union, intersection, and difference, which are valuable for data manipulation and analysis.

## 4. Dictionaries <a id="dictionaries"></a>

Dictionaries are another fundamental data type in Python. A dictionary is a (key, value) pair. Some
programming languages refer to them as hash tables. They are described as a mapping that maps
keys (hashable objects) to values (any object). Immutable objects are hashable (immutable means
unable to change).

### Creating a dictionary <a id="dictionaries-create"></a>

In [81]:
# using curly braces and inserting key, value pairs
student = {'firstname': 'Joshua',
           'lastname': 'Ohayi',
           'cirle': 113}

In [82]:
type(student)

dict

In [83]:
# using the dict function and passing a list of tuples
student2 = dict([('firstname', 'Akin-Johnson'), ('Cirle', 117), ('lastname', 'Oluwamayowa')])

In [84]:
student2

{'firstname': 'Akin-Johnson', 'Cirle': 117, 'lastname': 'Oluwamayowa'}

### Reading through a Dictionary <a id="dictionaries-read"></a>

In [85]:
# using the key
student['firstname']

'Joshua'

In [86]:
# using the in keyword
'firstname' in student

True

In [87]:
'fav_food' in student

False

In [88]:
# checking all items :dict.items()
student.items()

dict_items([('firstname', 'Joshua'), ('lastname', 'Ohayi'), ('cirle', 113)])

In [89]:
# checking all values :dict.values()
student.values()

dict_values(['Joshua', 'Ohayi', 113])

In [90]:
# using the get method to retrieve the value of a key in a dictionary
# returns 'Not Available' if key is not in the dictionary else it returns the value.
student.get('fav_drink', 'Not Availble')

'Not Availble'

### Updating a Dictionary <a id="dictionaries-update"></a>

In [91]:
# re assign the value by accessing the key if the key isnt available, a new k:v pair is created
student['fav_food'] = 'Groceries'

In [92]:
student

{'firstname': 'Joshua',
 'lastname': 'Ohayi',
 'cirle': 113,
 'fav_food': 'Groceries'}

In [93]:
# using the update method.

In [94]:
# using the pop method to remove a k:v pair
student.pop('cirle')

113

In [95]:
student

{'firstname': 'Joshua', 'lastname': 'Ohayi', 'fav_food': 'Groceries'}

In [96]:
# using the popitem method
student.popitem()

('fav_food', 'Groceries')

In [97]:
old_key = 'firstname'
new_key = 'alias'

student[new_key] = student.pop(old_key)

In [98]:
student

{'lastname': 'Ohayi', 'alias': 'Joshua'}

### Deleting a Dictionary <a id="dictionaries-delete"></a>

In [99]:
#del student['circle']

In [100]:
student

{'lastname': 'Ohayi', 'alias': 'Joshua'}

In [101]:
revenue = {'months':['jan', 'feb', 'mar',
                    'apr', 'may','jun', 'jul',
                    'aug', 'sept', 'oct',
                    'nov', 'dec'],
          'monthly_sales': [120, 135, 150, 145, 155, 160, 170, 180, 190, 200, 210, 220] }

In [102]:
revenue

{'months': ['jan',
  'feb',
  'mar',
  'apr',
  'may',
  'jun',
  'jul',
  'aug',
  'sept',
  'oct',
  'nov',
  'dec'],
 'monthly_sales': [120, 135, 150, 145, 155, 160, 170, 180, 190, 200, 210, 220]}

### Dictionaries: Use Cases in Data Science <a id="dictionaries-use-cases"></a>

## 5. DataFrames

2-dimensional structures for handling tabular data

In [103]:
import pandas as pd

In [104]:
revenue_df = pd.DataFrame(revenue)

In [105]:
revenue_df

   months  monthly_sales
0     jan            120
1     feb            135
2     mar            150
3     apr            145
4     may            155
5     jun            160
6     jul            170
7     aug            180
8    sept            190
9     oct            200
10    nov            210
11    dec            220

## Exercises

1. a) Create a dictionary representing a library catalog. The keys should be book titles, and the values should be the corresponding authors. Allow the user to input a book title and display the author's name.

   b) Extend the library catalog program to allow users to add new books to the catalog by providing the title and author.

In [115]:
library_cat = {"book_title":
                                  ["Things Fall Apart", "Half of a Yellow Sun",
                                  "The Famished Road",
                                  "The Secret Lives of Baba Segi's Wives",
                                  "The Fishermen", "So Long a Letter",
                                  "The Icarus Girl",
                                  "Harry Potter and the Sorcerer's Stone",
                                  "The Lord of the Rings", "The Da Vinci Code"],

                   "authors":
                                  ["Chinua Achebe", "Chimamanda Ngozi Adichie",
                                   "Ben Okri",  "Lola Shoneyin", "Chigozie Obioma",
                                   "Mariama Ba", "Helen Oyeyemi", "J.K. Rowling",
                                   "J.R.R. Tolkien", "Dan Brown"]}

In [116]:
library_cat

{'book_title': ['Things Fall Apart',
  'Half of a Yellow Sun',
  'The Famished Road',
  "The Secret Lives of Baba Segi's Wives",
  'The Fishermen',
  'So Long a Letter',
  'The Icarus Girl',
  "Harry Potter and the Sorcerer's Stone",
  'The Lord of the Rings',
  'The Da Vinci Code'],
 'authors': ['Chinua Achebe',
  'Chimamanda Ngozi Adichie',
  'Ben Okri',
  'Lola Shoneyin',
  'Chigozie Obioma',
  'Mariama Ba',
  'Helen Oyeyemi',
  'J.K. Rowling',
  'J.R.R. Tolkien',
  'Dan Brown']}

In [ ]:
# Initialize an empty library catalog dictionary
library_catalog = {}

# Function to display author for a given book title
def display_author(title):
    if title in library_catalog:
        author = library_catalog[title]
        print(f"The author of '{title}' is {author}.")
    else:
        print(f"'{title}' is not in the library catalog.")

# Function to add a new book to the catalog
def add_book(title, author):
    if title in library_catalog:
        print(f"'{title}' is already in the library catalog.")
    else:
        library_catalog[title] = author
        print(f"'{title}' by {author} has been added to the catalog.")

# Main program loop
while True:
    print("\nLibrary Catalog Menu:")
    print("1. Look up a book by title")
    print("2. Add a new book to the catalog")
    print("3. Exit")

    choice = input("Enter your choice (1/2/3): ")

    if choice == "1":
        book_title = input("Enter the book title: ")
        display_author(book_title)
    elif choice == "2":
        book_title = input("Enter the book title: ")
        book_author = input("Enter the author's name: ")
        add_book(book_title, book_author)
    elif choice == "3":
        print("Goodbye!")
        break
    else:
        print("Invalid choice. Please select 1, 2, or 3.")

Library Catalog Menu:
1. Look up a book by title
2. Add a new book to the catalog
3. Exit
Enter your choice (1/2/3): 4
Invalid choice. Please select 1, 2, or 3.

Library Catalog Menu:
1. Look up a book by title
2. Add a new book to the catalog
3. Exit

In [110]:
dir(library_catalog)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

2. Create a dictionary that represents a dataset of 10 students' and thier test scores (4 courses). The keys should be dictionaries bearing student names, in the nested dictionary, let the keys represent a course and the value a score for that course. Allow the user to input a student's name and display their average test score.

   Create a DataFrame from the student test scores dictionary using pandas. Display the DataFrame to the user.

3. Create a dictionary that represents an online store's inventory. The keys should be product names, and the values should be tuples containing the price and available quantity. Allow the user to input a product name, and display its price and availability.

    Extend the online store program to allow users to "purchase" products by specifying the product name and the quantity they want to buy. Update the inventory accordingly and display the total cost of the purchase.

4. Create an empty dictionary to represent a glossary. Allow users to add new words and their definitions to the glossary.

    Implement a feature that lets users search for the definition of a word. If the word is not in the glossary, inform the user that the word is not found.