<a href="https://colab.research.google.com/github/RheedWhan/AltSchool_DataScience_2023/blob/main/Copy_of_AltSchool_DS_Assignment_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. a. Write a Python program to validate a user's input of a numerical value. If the input is not a number, provide feedback; otherwise, determine if it's even or odd.

  b. Write a Python program that accepts three sides of a triangle and checks if it's an equlateral, isosceless or scalene triangle.
Note: equilateral triangle - has 3 equal sides, isosceles triangle- has at least 2 equal sides. scalene triangle - has 3 unequal sides.

In [ ]:
# Answer to question 1a
user_input = input("Enter a number: ")

try:
    num = int(user_input)

    if num % 2 == 0:
        print(f"{num} is an even number.")
    else:
        print(f"{num} is an odd number.")
except ValueError:
    print("Invalid input. Please enter a number.")

Enter a number: 8800
8800 is an even number.

In [ ]:
user_input = input("Enter a number: ")

if user_input.isnumeric():
    num = int(user_input)
    if num % 2 == 0:
        print(f"{num} is an even number.")
    else:
        print(f"{num} is an odd number.")
else:
    print("Invalid input. Please enter a valid numerical value.")

Enter a number: 886
886 is an even number.

In [ ]:
side1 = input('Enter the first side: ')
side2 = input('Enter the second side: ')
side3 = input('Enter the third side: ')

if side1 == side2 == side3:
  print('This is an Equilateral Triangle')
elif side1 == side2 or side1 == side3 or side2 == side3:
  print('This is an Isosceles Triangle')
else:
  print('This is a Scalene Triangle')

Enter the first side: 2
Enter the second side: 4
Enter the third side: 5
This is a Scalene Triangle

2. a. Write a for loop that finds and prints all prime numbers from 1 to 50.
  convert the for loop-based prime number computation into a list comprehension.

  b. Given the list of dictionaries below where each dictionary represents a property, use a loop to add price per area to each dictionary: price_per_m2.
  
 properties = [{'price_in_usd': 68663.03, 'area_in_m2': 208, 'room_num': 3},
 {'price_in_usd': 100412.94, 'area_in_m2': 256, 'room_num': 4},
 {'price_in_usd': 41967.85, 'area_in_m2': 87, 'room_num': 4},
 {'price_in_usd': 80186.97, 'area_in_m2': 158, 'room_num': 2},
 {'price_in_usd': 48405.36, 'area_in_m2': 249, 'room_num': 3}]

3. Write a function called square_odd that has one parameter. Your function must calculate the square of each odd number in a list.Return a Python list containing the squared values. Challenge yourself: Solve this problem with a list comprehension!

4. Create a Python function called classify_age that takes an age as an argument and returns the following classifications:

  If the age is less than 18, return "Minor."
  If the age is between 18 and 65 (inclusive), return "Adult."
  If the age is greater than 65, return "Senior Citizen."

In [ ]:
prime_num = []

for i in range(1, 50):
  if i / 1 == i and i / i == 1:
    print(f'{i} is a prime number')
  else:
    print(f'{i} is not a prime number')

1 is a prime number
2 is a prime number
3 is a prime number
4 is a prime number
5 is a prime number
6 is a prime number
7 is a prime number
8 is a prime number
9 is a prime number
10 is a prime number
11 is a prime number
12 is a prime number
13 is a prime number
14 is a prime number
15 is a prime number
16 is a prime number
17 is a prime number
18 is a prime number
19 is a prime number
20 is a prime number
21 is a prime number
22 is a prime number
23 is a prime number
24 is a prime number
25 is a prime number
26 is a prime number
27 is a prime number
28 is a prime number
29 is a prime number
30 is a prime number
31 is a prime number
32 is a prime number
33 is a prime number
34 is a prime number
35 is a prime number
36 is a prime number
37 is a prime number
38 is a prime number
39 is a prime number
40 is a prime number
41 is a prime number
42 is a prime number
43 is a prime number
44 is a prime number
45 is a prime number
46 is a prime number
47 is a prime number
48 is a prime number
49 is a prime number

In [ ]:
prime_num = [i for i in range(1, 50) if i / 1 == i and i / i == 1]

In [ ]:
prime_num

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49]

In [ ]:
def is_prime(number):
    if number <= 1:
        return False
    if number <= 3:
        return True
    if number % 2 == 0 or number % 3 == 0:
        return False
    i = 5
    while i * i <= number:
        if number % i == 0 or number % (i + 2) == 0:
            return False
        i += 6
    return True

prime_numbers = [num for num in range(2, 51) if is_prime(num)]
print("Prime numbers from 1 to 50:", prime_numbers)

Prime numbers from 1 to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [ ]:
square_odd = []

for odd in range(50):
  if odd % 2 == 1:
    square = odd ** 2
    square_odd.append(square)
print(square_odd)

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361, 441, 529, 625, 729, 841, 961, 1089, 1225, 1369, 1521, 1681, 1849, 2025, 2209, 2401]