<a href="https://colab.research.google.com/github/RheedWhan/AltSchool_DataScience_2023/blob/main/Exercise_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Question

1a)  Create a dictionary representing a library catalog. The keys should be book titles, and the values should be the corresponding authors. Allow the user to input a book title and display the author's name.

b) Extend the library catalog program to allow users to add new books to the catalog by providing the title and author.



2) Create a dictionary that represents a dataset of 10 students' and thier test scores (4 courses). The keys should be dictionaries bearing student names, in the nested dictionary, let the keys represent a course and the value a score for that course. Allow the user to input a student's name and display their average test score.

Create a DataFrame from the student test scores dictionary using pandas. Display the DataFrame to the user.


3) Create a dictionary that represents an online store's inventory. The keys should be product names, and the values should be tuples containing the price and available quantity. Allow the user to input a product name, and display its price and availability.

Extend the online store program to allow users to "purchase" products by specifying the product name and the quantity they want to buy. Update the inventory accordingly and display the total cost of the purchase.


4) Create an empty dictionary to represent a glossary. Allow users to add new words and their definitions to the glossary.

Implement a feature that lets users search for the definition of a word. If the word is not in the glossary, inform the user that the word is not found.

In [14]:
# Question 1a

book_title = input('Enter a book title: ')
author = input("Enter an author's name: ")

library_catalog = {book_title: author}

print(f'Library Catalog: \n{library_catalog}')

Enter a book title: Start with WHY
Enter an author's name: Simon Sinek
Library Catalog:
{'Start with WHY': 'Simon Sinek'}

In [15]:
# Question 1b

library_catalog = {}

while True:

  book_title = input('Enter a book title (or "stop" to exit): ')

  if book_title == 'stop' or book_title == 'STOP':
    break

  author = input("Enter an author's name: ")


  library_catalog[book_title] = author

print("Library Catalog:")
for book_title, author in library_catalog.items():
    print(f"{book_title}: {author}")

Enter a book title (or "stop" to exit): Thing
Enter an author's name: fall
Enter a book title (or "stop" to exit): aprt
Enter an author's name: thing
Enter a book title (or "stop" to exit): gart
Enter an author's name: ahun
Enter a book title (or "stop" to exit): stop
Library Catalog:
Thing: fall
aprt: thing
gart: ahun

2) Create a dictionary that represents a dataset of 10 students' and thier test scores (4 courses). The keys should be dictionaries bearing student names, in the nested dictionary, let the keys represent a course and the value a score for that course. Allow the user to input a student's name and display their average test score.

In [18]:
# Question 2


Students = {"Sam": {"Math":78, "English":98, "Physics":90, "Chemistry":89},
            "John": {"Math":84, "English":70, "Physics":80, "Chemistry":95},
            "Bola": {"Math":90, "English":83, "Physics":85, "Chemistry":99},
            "Tife": {"Math":77, "English":82, "Physics":93, "Chemistry":81},
            "Oyin": {"Math":81, "English":70, "Physics":78, "Chemistry":78},
            "Aisha": {"Math":87, "English":91, "Physics":92, "Chemistry":93},
            "Caleb": {"Math":85, "English":92, "Physics":97, "Chemistry":80},
            "Vic": {"Math":80, "English":96, "Physics":91, "Chemistry":87},
            "Rachael": {"Math":92, "English":79, "Physics":70, "Chemistry":81},
            "Tope": {"Math":95, "English":88, "Physics":87, "Chemistry":80}
            }

In [19]:
Students

{'Sam': {'Math': 78, 'English': 98, 'Physics': 90, 'Chemistry': 89},
 'John': {'Math': 84, 'English': 70, 'Physics': 80, 'Chemistry': 95},
 'Bola': {'Math': 90, 'English': 83, 'Physics': 85, 'Chemistry': 99},
 'Tife': {'Math': 77, 'English': 82, 'Physics': 93, 'Chemistry': 81},
 'Oyin': {'Math': 81, 'English': 70, 'Physics': 78, 'Chemistry': 78},
 'Aisha': {'Math': 87, 'English': 91, 'Physics': 92, 'Chemistry': 93},
 'Caleb': {'Math': 85, 'English': 92, 'Physics': 97, 'Chemistry': 80},
 'Vic': {'Math': 80, 'English': 96, 'Physics': 91, 'Chemistry': 87},
 'Rachael': {'Math': 92, 'English': 79, 'Physics': 70, 'Chemistry': 81},
 'Tope': {'Math': 95, 'English': 88, 'Physics': 87, 'Chemistry': 80}}

In [ ]:
for

In [ ]:
def student(name, avg):
  name