<a href="https://colab.research.google.com/github/RheedWhan/AltSchool_DataScience_2023/blob/main/Function_Live_Classes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List Comprehension

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7, 8]
Squ_num = []
for num in nums:
  Squ = num ** 2
  Squ_num.append(Squ)
print(Squ_num)

[1, 4, 9, 16, 25, 36, 49, 64]

In [ ]:
square_nums = [ i ** 2 for i in nums]

square_nums

[1, 4, 9, 16, 25, 36, 49, 64]

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7, 8]
Squ_num = []
for num in nums:
  if num % 2 == 0:
    Squ = num ** 2
    Squ_num.append(Squ)
print(Squ_num)

[4, 16, 36, 64]

In [ ]:
square_nums = [ i ** 2 for i in nums if not i % 2 == 0]

square_nums

[1, 9, 25, 49]

In [ ]:
name = 'Althschool'
sch = []
for i in name:
  sch.append(i)
print(sch)

['A', 'l', 't', 'h', 's', 'c', 'h', 'o', 'o', 'l']

In [ ]:
name = 'Althschool'

sch2 = [ i for i in name]

sch2

['A', 'l', 't', 'h', 's', 'c', 'h', 'o', 'o', 'l']

In [ ]:
names = ['Kola', 'Seun', 'Adigun', 'Taiwo']

In [ ]:
names_upp = [name.upper() for name in names]

names_upp

['KOLA', 'SEUN', 'ADIGUN', 'TAIWO']

In [ ]:
# Using if - else statements

name = 'Altschool'

vowels = 'aeiouAEIOU'

alphabets = ['vowel' if i in vowels else 'consonant' for i in name]

alphabets

['vowel',
 'consonant',
 'consonant',
 'consonant',
 'consonant',
 'consonant',
 'vowel',
 'vowel',
 'consonant']

In [ ]:
names = ['Kola', 'Seun', 'Adigun', 'Taiwo']

four_chars = [i for i in names if len(names) > 4]

four_chars

[]

In [ ]:
list1 = [1, 4, 5, 7, 3, 5, 7, 2]
list2 = [3, 8, 0, 6, 2, 2, 9, 1]

In [ ]:
list3 = [i-j for i, j in zip(list1, list2)]
list3

[-2, -4, 5, 1, 1, 3, -2, 1]

In [ ]:
list3 = []

for i, j in zip(list1, list2):
  k = i + j
  list3.append(k)
print(list3)

[4, 12, 5, 13, 5, 7, 16, 3]

In [ ]:
list1 = [1, 4, 5, 7, 3, 5, 7, 2]
list2 = [3, 8, 0, 7, 2, 2, 9, 1]

intersection = [a for a in list1 for b in list2 if a == b]
intersection

[1, 7, 3, 7, 2, 2]

In [ ]:
zipped = zip(list1, list2)

In [ ]:
dict_zip = dict(zipped)

In [ ]:
dict_zip

{1: 3, 4: 8, 5: 2, 7: 9, 3: 2, 2: 1}

# Function

In [ ]:
# writing a basic function

def add_two(a, b):
    '''
    the function adds to arguments
    together and give the result
    '''
    addition = a + b
    return addition

In [ ]:
add_two(3, 9)

12

In [ ]:
add_two('Sola ', 'Kola')

'Sola Kola'

In [ ]:
def greet(name):
  return(f'Hello, {name}')

In [ ]:
greet('Seun')

'Hello, Seun'

In [ ]:
def volume(l, b, h):
    return l*b*h

In [ ]:
volume(4,2,6)

48

In [ ]:
print??

In [ ]:
# Building a function

def make_coffee(coffee, water, sugar):
  # Boil water
  # Add coffee to the boiling water in a cup
  # Add sugar generously
  return 'Hot coffee'

In [ ]:
make_coffee('coffee', 'water', 'sugar')

'Hot coffee'

In [1]:
lesst = [1,2,3,4,5,6,7,8]

In [2]:
dir(lesst)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']