<a href="https://colab.research.google.com/github/RheedWhan/AltSchool_DataScience_2023/blob/main/Introduction_to_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Import libraries

import requests as re
import json

In [2]:
api_key= "AIzaSyBR2ykH-xi1kH-4kCA5fXnPBENZ LowpvJ0"

In [3]:
search_url = "https://maps.googleapis.com/maps/api/place/textsearch/json?"

In [4]:
query = "TalentQL"

In [5]:
response = re.get(search_url +'query='+query+'&key='+api_key)
json_object = response.json()

In [6]:
json_object

{'error_message': 'The provided API key is invalid.',
 'html_attributions': [],
 'results': [],
 'status': 'REQUEST_DENIED'}

In [7]:
import pandas as pd

In [8]:
url = "https://en.wikipedia.org/wiki/List_of_highest-grossing_films"

In [9]:
movie_data = pd.read_html(url)

In [10]:
type(movie_data)

list

In [11]:
len(movie_data)

89

In [12]:
movie_data[0].head()

   Rank Peak                         Title  Worldwide gross  Year Reference(s)
0     1    1                        Avatar   $2,923,706,026  2009   [# 1][# 2]
1     2    1             Avengers: Endgame   $2,797,501,328  2019   [# 3][# 4]
2     3    3      Avatar: The Way of Water   $2,320,250,281  2022   [# 5][# 6]
3     4    1                       Titanic  T$2,257,844,554  1997   [# 7][# 8]
4     5    3  Star Wars: The Force Awakens   $2,068,223,624  2015  [# 9][# 10]

In [13]:
movie_data = movie_data[0]

In [14]:
type(movie_data)

pandas.core.frame.DataFrame

In [15]:
movie_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Rank             50 non-null     int64
 1   Peak             50 non-null     object
 2   Title            50 non-null     object
 3   Worldwide gross  50 non-null     object
 4   Year             50 non-null     int64
 5   Reference(s)     50 non-null     object
dtypes: int64(2), object(4)
memory usage: 2.5+ KB

In [18]:
movie_data['Title'].head()

0                          Avatar
1               Avengers: Endgame
2        Avatar: The Way of Water
3                         Titanic
4    Star Wars: The Force Awakens
Name: Title, dtype: object