<a href="https://colab.research.google.com/github/RheedWhan/AltSchool_DataScience_2023/blob/main/Live_Classes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List Comprehension

In [8]:
nums = [1, 2, 3, 4, 5, 6, 7, 8]
Squ_num = []
for num in nums:
  Squ = num ** 2
  Squ_num.append(Squ)
print(Squ_num)

[1, 4, 9, 16, 25, 36, 49, 64]

In [9]:
square_nums = [ i ** 2 for i in nums]

square_nums

[1, 4, 9, 16, 25, 36, 49, 64]

In [10]:
nums = [1, 2, 3, 4, 5, 6, 7, 8]
Squ_num = []
for num in nums:
  if num % 2 == 0:
    Squ = num ** 2
    Squ_num.append(Squ)
print(Squ_num)

[4, 16, 36, 64]

In [12]:
square_nums = [ i ** 2 for i in nums if not i % 2 == 0]

square_nums

[1, 9, 25, 49]

In [17]:
name = 'Althschool'
sch = []
for i in name:
  sch.append(i)
print(sch)

['A', 'l', 't', 'h', 's', 'c', 'h', 'o', 'o', 'l']

In [19]:
name = 'Althschool'

sch2 = [ i for i in name]

sch2

['A', 'l', 't', 'h', 's', 'c', 'h', 'o', 'o', 'l']

In [20]:
names = ['Kola', 'Seun', 'Adigun', 'Taiwo']

In [23]:
names_upp = [name.upper() for name in names]

names_upp

['KOLA', 'SEUN', 'ADIGUN', 'TAIWO']

In [26]:
# Using if - else statements

name = 'Altschool'

vowels = 'aeiouAEIOU'

alphabets = ['vowel' if i in vowels else 'consonant' for i in name]

alphabets

['vowel',
 'consonant',
 'consonant',
 'consonant',
 'consonant',
 'consonant',
 'vowel',
 'vowel',
 'consonant']

In [33]:
names = ['Kola', 'Seun', 'Adigun', 'Taiwo']

four_chars = [i for i in names if len(names) > 4]

four_chars

[]

In [39]:
list1 = [1, 4, 5, 7, 3, 5, 7, 2]
list2 = [3, 8, 0, 6, 2, 2, 9, 1]

In [41]:
list3 = []

for i, j in zip(list1, list2):
  k = i + j
  list3.append(k)
print(list3)

[4, 12, 5, 13, 5, 7, 16, 3]

In [38]:
list1 = [1, 4, 5, 7, 3, 5, 7, 2]
list2 = [3, 8, 0, 7, 2, 2, 9, 1]

intersection = [a for a in list1 for b in list2 if a == b]
intersection

[1, 7, 3, 7, 2, 2]