<a href="https://colab.research.google.com/github/RheedWhan/AltSchool_DataScience_2023/blob/main/LMS_Learning_Management_System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
# Looping through a Dict

users = {'name': 'Sola', 'age': 23, 'job': 'Data Scientist'}

In [2]:
users

{'name': 'Sola', 'age': 23, 'job': 'Data Scientist'}

In [7]:
users['location'] = 'Nigeria'

In [8]:
users

{'name': 'Sola', 'age': 23, 'job': 'Data Scientist', 'location': 'Nigeria'}

In [13]:
# Looping through a Dict

for key, value in users.items():
    print(f"\nKey: {key}")
    print(f"Value: {value}")

Key: name
Value: Sola

Key: age
Value: 23

Key: job
Value: Data Scientist

Key: location
Value: Nigeria

In [16]:
# Looping through keys

for key, value in users.items():
    print(f"\nKey Name: {key}")

Key Name: name

Key Name: age

Key Name: job

Key Name: location

In [17]:
# Looping through Values

for key, value in users.items():
    print(f"\nValue Name: {value}")

Value Name: Sola

Value Name: 23

Value Name: Data Scientist

Value Name: Nigeria

In [18]:
# Looping through keys alone

for key in users.keys():
    print(f"\nKey Name: {key}")

Key Name: name

Key Name: age

Key Name: job

Key Name: location

In [20]:
# Looping through value alone

for value in users.values():
    print(f"\nValue Name: {value}")

Value Name: Sola

Value Name: 23

Value Name: Data Scientist

Value Name: Nigeria

In [21]:
# Nesting

profile1 = {'name': 'John', 'position': 'Data Scientist'}
profile2 = {'name': 'Bayo', 'position': 'Data Analyst'}
profile3 = {'name': 'Tola', 'position': 'Data Engineer'}

In [22]:
profiles = [profile1, profile2, profile3]

In [24]:
profiles

[{'name': 'John', 'position': 'Data Scientist'},
 {'name': 'Bayo', 'position': 'Data Analyst'},
 {'name': 'Tola', 'position': 'Data Engineer'}]

In [25]:
type(profiles)

list

In [45]:
# Loop through the list

for profile in profiles:
    print(f"\n",profile)
    for key, value in profile.items():
        print(f"Key: {key},\nValue: {value}")

 {'name': 'John', 'position': 'Data Scientist'}
Key: name,
Value: John
Key: position,
Value: Data Scientist

 {'name': 'Bayo', 'position': 'Data Analyst'}
Key: name,
Value: Bayo
Key: position,
Value: Data Analyst

 {'name': 'Tola', 'position': 'Data Engineer'}
Key: name,
Value: Tola
Key: position,
Value: Data Engineer

In [47]:
# Create a dict with list as value

profile_dataSci = {'name': 'John',
                   'xtics': ['Boss' 'Reserve', 'Smart', 'Charming']}
profile_dataAna = {'name': 'Bayo',
                   'xtics': ['Obidient' 'Observant', 'Hardworking', 'Loving']}
profile_dataEng = {'name': 'Tola',
                   'xtics': ['Relaxed' 'Confident', 'Intelligent', 'Active']}