<a href="https://colab.research.google.com/github/RheedWhan/AltSchool_DataScience_2023/blob/main/LMS_Learning_Management_System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
# Looping through a Dict

users = {'name': 'Sola', 'age': 23, 'job': 'Data Scientist'}

In [2]:
users

{'name': 'Sola', 'age': 23, 'job': 'Data Scientist'}

In [7]:
users['location'] = 'Nigeria'

In [8]:
users

{'name': 'Sola', 'age': 23, 'job': 'Data Scientist', 'location': 'Nigeria'}

In [13]:
# Looping through a Dict

for key, value in users.items():
    print(f"\nKey: {key}")
    print(f"Value: {value}")

Key: name
Value: Sola

Key: age
Value: 23

Key: job
Value: Data Scientist

Key: location
Value: Nigeria

In [16]:
# Looping through keys

for key, value in users.items():
    print(f"\nKey Name: {key}")

Key Name: name

Key Name: age

Key Name: job

Key Name: location

In [17]:
# Looping through Values

for key, value in users.items():
    print(f"\nValue Name: {value}")

Value Name: Sola

Value Name: 23

Value Name: Data Scientist

Value Name: Nigeria

In [18]:
# Looping through keys alone

for key in users.keys():
    print(f"\nKey Name: {key}")

Key Name: name

Key Name: age

Key Name: job

Key Name: location

In [20]:
# Looping through value alone

for value in users.values():
    print(f"\nValue Name: {value}")

Value Name: Sola

Value Name: 23

Value Name: Data Scientist

Value Name: Nigeria

In [21]:
# Nesting

profile1 = {'name': 'John', 'position': 'Data Scientist'}
profile2 = {'name': 'Bayo', 'position': 'Data Analyst'}
profile3 = {'name': 'Tola', 'position': 'Data Engineer'}

In [22]:
profiles = [profile1, profile2, profile3]

In [24]:
profiles

[{'name': 'John', 'position': 'Data Scientist'},
 {'name': 'Bayo', 'position': 'Data Analyst'},
 {'name': 'Tola', 'position': 'Data Engineer'}]

In [25]:
type(profiles)

list

In [45]:
# Loop through the list

for profile in profiles:
    print(f"\n",profile)
    for key, value in profile.items():
        print(f"Key: {key},\nValue: {value}")

 {'name': 'John', 'position': 'Data Scientist'}
Key: name,
Value: John
Key: position,
Value: Data Scientist

 {'name': 'Bayo', 'position': 'Data Analyst'}
Key: name,
Value: Bayo
Key: position,
Value: Data Analyst

 {'name': 'Tola', 'position': 'Data Engineer'}
Key: name,
Value: Tola
Key: position,
Value: Data Engineer

In [47]:
# Create a dict with list as value

profile_dataSci = {'name': 'John', 'xtics': ['Boss' 'Reserve', 'Smart', 'Charming']} = {'name': 'John',
                   'xtics': ['Boss' 'Reserve', 'Smart', 'Charming']}
profile_dataAna = {'name': 'Bayo',
                   'xtics': ['Obidient' 'Observant', 'Hardworking', 'Loving']}
profile_dataEng = {'name': 'Tola',
                   'xtics': ['Relaxed' 'Confident', 'Intelligent', 'Active']}

In [50]:
data_profiles = [profile_dataSci, profile_dataAna, profile_dataEng]

In [51]:
data_profiles

[{'name': 'John', 'xtics': ['BossReserve', 'Smart', 'Charming']},
 {'name': 'Bayo', 'xtics': ['ObidientObservant', 'Hardworking', 'Loving']},
 {'name': 'Tola', 'xtics': ['RelaxedConfident', 'Intelligent', 'Active']}]

In [59]:
for data_profile in data_profiles:
  print(data_profile)
  for name, xtics in data_profile.items():
    print(name, xtics)
  for xtic in xtics:
    print(xtic)

{'name': 'John', 'xtics': ['BossReserve', 'Smart', 'Charming']}
name John
xtics ['BossReserve', 'Smart', 'Charming']
BossReserve
Smart
Charming
{'name': 'Bayo', 'xtics': ['ObidientObservant', 'Hardworking', 'Loving']}
name Bayo
xtics ['ObidientObservant', 'Hardworking', 'Loving']
ObidientObservant
Hardworking
Loving
{'name': 'Tola', 'xtics': ['RelaxedConfident', 'Intelligent', 'Active']}
name Tola
xtics ['RelaxedConfident', 'Intelligent', 'Active']
RelaxedConfident
Intelligent
Active

# Sets

In [63]:
# Create a set

set_1 = {1, 44, 3, 6, 7, 90, 5212, 55, 52, 64, 66, 77, 98}

In [64]:
type(set_1)

set

In [65]:
set_1

{1, 3, 6, 7, 44, 52, 55, 64, 66, 77, 90, 98, 5212}

In [66]:
# Creating a set from a list

set_lst = [1, 44, 3, 6, 7, 90, 5212, 55, 52, 64, 66, 77, 98]

In [67]:
type(set_lst)

list

In [68]:
set_lst = set(set_lst)

In [69]:
type(set_lst)

set

In [70]:
set_lst

{1, 3, 6, 7, 44, 52, 55, 64, 66, 77, 90, 98, 5212}

In [71]:
# Create another set

first_set = set()

In [72]:
# Add a number to the set using add

first_set.add(2)

In [73]:
# Update the set with a list using update

first_set.update([1, 4, 5, 7])

In [74]:
# Update the set with a tuple using update

first_set.update((2, 7, 8, 5, 6))

In [75]:
first_set

{1, 2, 4, 5, 6, 7, 8}

In [79]:
# what if its a list

first_lst = list()
first_lst.append(2)
first_lst.extend([1, 4, 5, 7])
first_lst.extend((2, 7, 8, 5, 6))

first_lst

[2, 1, 4, 5, 7, 2, 7, 8, 5, 6]

In [78]:
dir(first_lst)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']