<a href="https://colab.research.google.com/github/RheedWhan/AltSchool_DataScience_2023/blob/main/Ridwan's_Use_Cases.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data Exploration:

Problem: You have a dataset containing information about customer orders. Use Python to calculate the total number of orders, the average order value, and the most common product purchased.

In [ ]:
supermarket_data = [
    {'TransactionID': 1, 'Product': 'Milk', 'Price': 2.99},
    {'TransactionID': 2, 'Product': 'Bread', 'Price': 1.99},
    {'TransactionID': 3, 'Product': None, 'Price': 3.49},
    {'TransactionID': 4, 'Product': 'Eggs', 'Price': 1.79},
    {'TransactionID': 5, 'Product': 'Milk', 'Price': 4.99},
    {'TransactionID': 6, 'Product': 'Bread', 'Price': 4.99},
    {'TransactionID': 7, 'Product': 'Milk', 'Price': 4.99}
]

In [ ]:
# total number of orders
count = 0
for order in supermarket_data:
    count = count + 1
print(count)
#total_orders = len(supermarket_data['TransactionID'])

5

In [ ]:
# average order value

total_price = 0
for price in supermarket_data:
    total_price += price['Price']
average = total_price / count

In [ ]:
average

3.0500000000000003

In [ ]:
total_order_value = 0
product_counts = {}

In [ ]:
for order in supermarket_data:
    product = order['Product']
    if product in product_counts:
        product_counts[product] += 1
    else:
        product_counts[product] = 1

In [ ]:
product_counts

{'Milk': 3, 'Bread': 2, None: 1, 'Eggs': 1}

Data Cleaning:

Problem: Your dataset has missing values in a column. Write a Python script to identify and count the missing values in that column.

In [ ]:
supermarket_data = [
    {'TransactionID': 1, 'Product': 'Milk', 'Price': 2.99},
    {'TransactionID': 2, 'Product': 'Bread', 'Price': 1.99},
    {'TransactionID': 3, 'Product': None, 'Price': 3.49},
    {'TransactionID': 4, 'Product': 'Eggs', 'Price': 1.79},
    {'TransactionID': 5, 'Product': 'Milk', 'Price': 4.99},
    {'TransactionID': 6, 'Product': None, 'Price': 4.99},
    {'TransactionID': 7, 'Product': 'Milk', 'Price': 4.99}
]

In [ ]:
column_to_check = 'Product'
missing_count = 0

In [ ]:
for transaction in supermarket_data:
    if transaction[column_to_check] == None:
        missing_count += 1

In [ ]:
missing_count

2

Data Preprocessing:

Problem: You have a dataset with a 'date' column in the format 'yyyy-mm-dd'. Write a Python function to extract the year and month from the date and store them in separate lists.

In [ ]:
dataset = [
    {'ID': 1, 'Date': '2023-04-15', 'Value': 42},
    {'ID': 2, 'Date': '2023-05-20', 'Value': 56},
    {'ID': 3, 'Date': '2023-04-02', 'Value': 34},
    {'ID': 4, 'Date': '2023-06-10', 'Value': 78},
    {'ID': 5, 'Date': '2023-05-12', 'Value': 65},
]

In [ ]:
def extract_year_and_month(data, date_column):
    years = []
    months = []

    for entry in data:
        date = entry.get(date_column)
        if date:
            year, month, _ = date.split('-')
            years.append(year)
            months.append(month)
    return years, months

In [ ]:
date = '2023-11-08-19:41'
year, month, _, _ = date.split('-')

In [ ]:
years, months = extract_year_and_month(dataset, 'Date')

In [ ]:
print(f'Years: {years}')
print(f'Months: {months}')

Years: ['2023', '2023', '2023', '2023', '2023']
Months: ['04', '05', '04', '06', '05']

Data Filtering and Transformation:

Problem: You have a list of student records as dictionaries. Filter the records of students who scored above a certain threshold and calculate their final grades.

In [ ]:
student_records = [
    {'ID': 1, 'Name': 'Alice', 'Math_Score': 85, 'English_Score': 78},
    {'ID': 2, 'Name': 'Bob', 'Math_Score': 92, 'English_Score': 88},
    {'ID': 3, 'Name': 'Charlie', 'Math_Score': 78, 'English_Score': 95},
    {'ID': 4, 'Name': 'David', 'Math_Score': 65, 'English_Score': 72},
    {'ID': 5, 'Name': 'Eve', 'Math_Score': 89, 'English_Score': 91},
]
threshold = 80

In [ ]:
threshold_score = [student for student in student_records if student['Math_Score'] >= 80 and student['English_Score'] >= 80]
threshold_score

[{'ID': 2, 'Name': 'Bob', 'Math_Score': 92, 'English_Score': 88},
 {'ID': 5, 'Name': 'Eve', 'Math_Score': 89, 'English_Score': 91}]

In [ ]:
for score in threshold_score:
  final_score = score['Math_Score'] + score['English_Score']
  print(f'{score} = {final_score}')

{'ID': 2, 'Name': 'Bob', 'Math_Score': 92, 'English_Score': 88} = 180
{'ID': 5, 'Name': 'Eve', 'Math_Score': 89, 'English_Score': 91} = 180

In [ ]:
jhjg