<a href="https://colab.research.google.com/github/RheedWhan/AltSchool_DataScience_2023/blob/main/Ridwan_Ojo_DS_Assignment_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Questions

1. a. Write a Python program to validate a user's input of a numerical value. If the input is not a number, provide feedback; otherwise, determine if it's even or odd.

  b. Write a Python program that accepts three sides of a triangle and checks if it's an equlateral, isosceless or scalene triangle.
Note: equilateral triangle - has 3 equal sides, isosceles triangle- has at least 2 equal sides. scalene triangle - has 3 unequal sides.

2. a. Write a for loop that finds and prints all prime numbers from 1 to 50.
  convert the for loop-based prime number computation into a list comprehension.

  b. Given the list of dictionaries below where each dictionary represents a property, use a loop to add price per area to each dictionary: price_per_m2.
  
 properties = [{'price_in_usd': 68663.03, 'area_in_m2': 208, 'room_num': 3},
 {'price_in_usd': 100412.94, 'area_in_m2': 256, 'room_num': 4},
 {'price_in_usd': 41967.85, 'area_in_m2': 87, 'room_num': 4},
 {'price_in_usd': 80186.97, 'area_in_m2': 158, 'room_num': 2},
 {'price_in_usd': 48405.36, 'area_in_m2': 249, 'room_num': 3}]

3. Write a function called square_odd that has one parameter. Your function must calculate the square of each odd number in a list.Return a Python list containing the squared values. Challenge yourself: Solve this problem with a list comprehension!

4. Create a Python function called classify_age that takes an age as an argument and returns the following classifications:

  If the age is less than 18, return "Minor."
  If the age is between 18 and 65 (inclusive), return "Adult."
  If the age is greater than 65, return "Senior Citizen."

#Answers

1a. Write a Python program to validate a user's input of a numerical value. If the input is not a number, provide feedback; otherwise, determine if it's even or odd.

In [ ]:
# Answer to question 1a
user_input = input("Enter a number: ")

try:
    num = int(user_input)

    if num % 2 == 0:
        print(f"{num} is an even number.")
    else:
        print(f"{num} is an odd number.")
except ValueError:
    print("Invalid input. Please enter a number.")

Enter a number: 44
44 is an even number.

1b. Write a Python program that accepts three sides of a triangle and checks if it's an equlateral, isosceless or scalene triangle. Note: equilateral triangle - has 3 equal sides, isosceles triangle- has at least 2 equal sides. scalene triangle - has 3 unequal sides.

In [ ]:
side1 = input('Enter the first side: ')
side2 = input('Enter the second side: ')
side3 = input('Enter the third side: ')

if side1 == side2 == side3:
  print('This is an Equilateral Triangle')
elif side1 == side2 or side1 == side3 or side2 == side3:
  print('This is an Isosceles Triangle')
else:
  print('This is a Scalene Triangle')

Enter the first side: 8
Enter the second side: 9
Enter the third side: 5
This is a Scalene Triangle

2a. Write a for loop that finds and prints all prime numbers from 1 to 50. convert the for loop-based prime number computation into a list comprehension.

In [ ]:
prime = [num for num in range(2, 51) if all(num % i != 0 for i in range(2, num))]
prime

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

b. Given the list of dictionaries below where each dictionary represents a property, use a loop to add price per area to each dictionary: price_per_m2.

properties = [{'price_in_usd': 68663.03, 'area_in_m2': 208, 'room_num': 3}, {'price_in_usd': 100412.94, 'area_in_m2': 256, 'room_num': 4}, {'price_in_usd': 41967.85, 'area_in_m2': 87, 'room_num': 4}, {'price_in_usd': 80186.97, 'area_in_m2': 158, 'room_num': 2}, {'price_in_usd': 48405.36, 'area_in_m2': 249, 'room_num': 3}]

In [32]:
properties = [{'price_in_usd': 68663.03, 'area_in_m2': 208, 'room_num': 3},
              {'price_in_usd': 100412.94, 'area_in_m2': 256, 'room_num': 4},
              {'price_in_usd': 41967.85, 'area_in_m2': 87, 'room_num': 4},
              {'price_in_usd': 80186.97, 'area_in_m2': 158, 'room_num': 2},
              {'price_in_usd': 48405.36, 'area_in_m2': 249, 'room_num': 3}]

In [41]:
for properti in properties:
    properti['price_per_m2'] = round(properti['price_in_usd'] / properti['area_in_m2'], 2)

    print(properti)

{'price_in_usd': 68663.03, 'area_in_m2': 208, 'room_num': 3, 'price_per_m2': 330.11}
{'price_in_usd': 100412.94, 'area_in_m2': 256, 'room_num': 4, 'price_per_m2': 392.24}
{'price_in_usd': 41967.85, 'area_in_m2': 87, 'room_num': 4, 'price_per_m2': 482.39}
{'price_in_usd': 80186.97, 'area_in_m2': 158, 'room_num': 2, 'price_per_m2': 507.51}
{'price_in_usd': 48405.36, 'area_in_m2': 249, 'room_num': 3, 'price_per_m2': 194.4}

3. Write a function called square_odd that has one parameter. Your function must calculate the square of each odd number in a list.Return a Python list containing the squared values. Challenge yourself: Solve this problem with a list comprehension!

In [ ]:
def square_odd(lst):
  square_val = [i**2 for i in lst if i % 2 == 1]
  return square_val

In [ ]:
square_odd([1,2,3,4,5,6,7,8,9])

[1, 9, 25, 49, 81]

4.  Create a Python function called classify_age that takes an age as an argument and returns the following classifications:

If the age is less than 18, return "Minor." If the age is between 18 and 65 (inclusive), return "Adult." If the age is greater than 65, return "Senior Citizen."

In [ ]:
def classify_age(age):
  if age < 18:
    classification = 'Minor'
  elif age >= 18 and age <= 65:
    classification = 'Adult'
  else:
    classification = 'Senior Citizen'
  return classification

In [ ]:
classify_age(45)

'Adult'