# Exploratory Data Analysis

In [41]:
# import necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [42]:
# import the data
bank_data = r"C:\Users\Ojo Ridwan\Downloads\bank-full.csv" # name the path bank_data
df = pd.read_csv(bank_data, sep=';') # seperate using ;

df.head() # diplay the first 5 rows

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

### Task 1

In [43]:
df.isna().sum() # check for any missing data

# reuslt: no missing data

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [44]:
df.shape # shape of the dataset 

# result: 45211 rows and 17 columns

(45211, 17)

In [46]:
# summary of the dataset
df.describe()

# result: 
# count: number of values in each column
# mean: average of values in each column
# std: distribution of the values
# min: minimum value
# 25%: 25% of the data points are less than or equal to the value (first percentile)
# 50%: 50% of the data points are less than or equal to the value (median)
# 75%: 70% of the data points are less than or equal to the value (third percentile)
# min: minimum value

,age,balance,day,duration,campaign,pdays,previous
count,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000
mean,40.936210,1362.272058,15.806419,258.163080,2.763841,40.197828,0.580323
std,10.618762,3044.765829,8.322476,257.527812,3.098021,100.128746,2.303441
min,18.000000,-8019.000000,1.000000,0.000000,1.000000,-1.000000,0.000000
25%,33.000000,72.000000,8.000000,103.000000,1.000000,-1.000000,0.000000
50%,39.000000,448.000000,16.000000,180.000000,2.000000,-1.000000,0.000000
75%,48.000000,1428.000000,21.000000,319.000000,3.000000,-1.000000,0.000000
max,95.000000,102127.000000,31.000000,4918.000000,63.000000,871.000000,275.000000

In [45]:
# Top 10 age with the highest number of accounts 
df.age.value_counts().head(10)

# result: people in their 30s have the highest number of accounts

age
32    2085
31    1996
33    1972
34    1930
35    1894
36    1806
30    1757
37    1696
39    1487
38    1466
Name: count, dtype: int64

In [17]:
# Top 10 ages with the lowest number of accounts 
df.age.value_counts().tail(10)

# result: people in their 80s and 90s have the lowest number of accounts

age
84    9
85    5
87    4
89    3
92    2
93    2
90    2
95    2
88    2
94    1
Name: count, dtype: int64

In [34]:
# marital status %
df.marital.value_counts(normalize=True) * 100

# result: 60.2 are married, 28.30 are single and 11.5 are divorced

marital
married     60.193316
single      28.289576
divorced    11.517109
Name: proportion, dtype: float64

In [37]:
# number of people at different level of education
df.education.value_counts()

education
secondary    23202
tertiary     13301
primary       6851
unknown       1857
Name: count, dtype: int64

In [26]:
df.sort_values(by='balance', ascending=False).head(20)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
39989,51,management,single,tertiary,no,102127,no,no,cellular,3,jun,90,1,-1,0,unknown,no
26227,59,management,married,tertiary,no,98417,no,no,telephone,20,nov,145,5,-1,0,unknown,no
43393,84,retired,married,secondary,no,81204,no,no,telephone,1,apr,390,1,94,3,success,yes
42558,84,retired,married,secondary,no,81204,no,no,telephone,28,dec,679,1,313,2,other,yes
41693,60,retired,married,primary,no,71188,no,no,cellular,6,oct,205,1,-1,0,unknown,no
19785,56,management,divorced,tertiary,no,66721,no,no,cellular,8,aug,442,2,-1,0,unknown,no
21192,52,blue-collar,married,primary,no,66653,no,no,cellular,14,aug,109,3,-1,0,unknown,no
19420,59,admin.,married,unknown,no,64343,no,no,cellular,6,aug,45,4,-1,0,unknown,no
41374,32,entrepreneur,single,tertiary,no,59649,no,no,cellular,1,sep,69,2,-1,0,unknown,no
12926,56,blue-collar,married,secondary,no,58932,no,no,telephone,7,jul,339,2,-1,0,unknown,no
920,44,admin.,married,secondary,no,58544,yes,no,unknown,7,may,144,2,-1,0,unknown,no
27390,50,services,married,secondary,no,57435,yes,no,cellular,21,nov,319,3,-1,0,unknown,no
3197,43,admin.,single,secondary,no,56831,no,no,unknown,15,may,243,1,-1,0,unknown,no
43053,61,self-employed,divorced,tertiary,no,52587,no,no,cellular,15,feb,394,3,189,1,success,yes
40763,61,self-employed,divorced,tertiary,no,52587,no,no,cellular,10,aug,290,1,-1,0,unknown,yes
22091,40,management,married,tertiary,no,52527,no,no,cellular,21,aug,140,11,-1,0,unknown,no
9536,58,entrepreneur,married,primary,no,52499,no,no,unknown,6,jun,198,2,-1,0,unknown,no
13154,56,entrepreneur,married,tertiary,no,51439,no,yes,cellular,8,jul,325,1,-1,0,unknown,no
15869,38,admin.,single,tertiary,no,45789,no,no,telephone,21,jul,21,31,-1,0,unknown,no
446,39,technician,single,unknown,no,45248,yes,no,unknown,6,may,1623,1,-1,0,unknown,yes

In [30]:
df[df['job']=='self-employed'].sample(n=50)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
23994,49,self-employed,married,secondary,no,1683,no,no,cellular,29,aug,61,4,-1,0,unknown,no
1749,27,self-employed,single,secondary,no,78,yes,no,unknown,9,may,825,1,-1,0,unknown,no
21752,53,self-employed,married,tertiary,no,2013,no,no,cellular,19,aug,268,14,-1,0,unknown,no
26098,41,self-employed,divorced,tertiary,no,4717,yes,no,cellular,19,nov,182,2,-1,0,unknown,no
11416,43,self-employed,married,tertiary,no,4324,yes,no,unknown,19,jun,105,1,-1,0,unknown,no
3807,40,self-employed,married,tertiary,no,1126,yes,no,unknown,16,may,22,4,-1,0,unknown,no
27579,47,self-employed,married,tertiary,no,3072,no,no,cellular,21,nov,229,3,-1,0,unknown,no
9471,52,self-employed,married,tertiary,no,1088,yes,no,unknown,6,jun,217,2,-1,0,unknown,no
9531,39,self-employed,married,secondary,yes,-571,no,no,unknown,6,jun,180,2,-1,0,unknown,no
29746,45,self-employed,divorced,tertiary,yes,75,yes,yes,cellular,4,feb,236,1,-1,0,unknown,no
25339,53,self-employed,married,tertiary,no,337,yes,yes,cellular,18,nov,80,2,-1,0,unknown,no
35125,31,self-employed,single,secondary,no,148,yes,yes,cellular,6,may,232,2,167,4,failure,no
36286,56,self-employed,divorced,tertiary,no,966,yes,no,cellular,11,may,505,2,-1,0,unknown,no
37087,29,self-employed,single,secondary,no,970,yes,no,cellular,13,may,240,1,-1,0,unknown,no
18373,46,self-employed,married,secondary,no,390,yes,no,cellular,31,jul,208,2,-1,0,unknown,no
40206,33,self-employed,single,tertiary,no,1129,yes,no,cellular,8,jun,84,2,-1,0,unknown,no
21785,46,self-employed,married,tertiary,no,226,no,no,cellular,19,aug,561,3,-1,0,unknown,no
39941,40,self-employed,single,tertiary,no,2893,no,no,cellular,2,jun,76,3,-1,0,unknown,no
32365,32,self-employed,single,tertiary,no,519,yes,no,cellular,16,apr,317,2,149,1,failure,no
10752,30,self-employed,divorced,secondary,no,92,yes,no,unknown,17,jun,78,10,-1,0,unknown,no
37667,31,self-employed,single,tertiary,no,17924,yes,no,cellular,14,may,745,1,174,3,failure,yes
39720,32,self-employed,single,tertiary,no,312,yes,no,cellular,27,may,99,2,-1,0,unknown,no
26407,40,self-employed,married,tertiary,no,1604,no,no,cellular,20,nov,117,1,-1,0,unknown,no
23804,45,self-employed,married,primary,no,373,no,no,cellular,29,aug,82,11,-1,0,unknown,no
29150,38,self-employed,married,secondary,no,290,yes,no,cellular,2,feb,123,1,258,1,failure,no
35134,39,self-employed,married,secondary,no,1304,yes,yes,cellular,7,may,183,3,-1,0,unknown,no
25617,40,self-employed,married,tertiary,no,2977,yes,no,cellular,19,nov,375,1,125,1,failure,no
25432,31,self-employed,single,secondary,no,202,yes,no,cellular,18,nov,216,1,-1,0,unknown,no
38209,31,self-employed,married,tertiary,no,1194,yes,no,cellular,15,may,50,1,-1,0,unknown,no
21518,45,self-employed,married,secondary,no,571,yes,no,cellular,19,aug,361,5,-1,0,unknown,no
24783,56,self-employed,divorced,secondary,no,0,no,no,cellular,18,nov,348,1,-1,0,unknown,no
42622,38,self-employed,divorced,tertiary,no,6447,no,no,cellular,12,jan,296,1,-1,0,unknown,no
30886,31,self-employed,single,tertiary,no,1815,no,no,telephone,9,feb,1541,1,-1,0,unknown,yes
6842,50,self-employed,divorced,tertiary,no,59,yes,no,unknown,28,may,67,2,-1,0,unknown,no
6118,49,self-employed,married,primary,no,489,yes,no,unknown,27,may,84,4,-1,0,unknown,no
39099,29,self-employed,single,tertiary,no,476,yes,no,cellular,18,may,427,1,-1,0,unknown,yes
33749,42,self-employed,married,tertiary,no,10072,no,no,cellular,22,apr,102,1,-1,0,unknown,no
18703,37,self-employed,married,secondary,no,4153,yes,no,cellular,31,jul,35,16,-1,0,unknown,no
38401,49,self-employed,married,secondary,no,505,yes,no,telephone,15,may,354,2,-1,0,unknown,no
5440,39,self-employed,divorced,secondary,no,0,yes,no,unknown,23,may,210,2,-1,0,unknown,no
17275,31,self-employed,married,tertiary,no,170,no,yes,cellular,28,jul,98,16,-1,0,unknown,no
29032,45,self-employed,married,tertiary,no,430,yes,no,cellular,2,feb,221,1,206,2,failure,no
38917,26,self-employed,single,tertiary,no,16563,yes,no,cellular,18,may,245,1,-1,0,unknown,no
10029,44,self-employed,married,tertiary,no,3295,no,no,unknown,9,jun,138,4,-1,0,unknown,no
34065,34,self-employed,married,tertiary,no,442,yes,no,cellular,30,apr,69,1,164,2,other,no
26787,53,self-employed,divorced,tertiary,yes,10,no,no,cellular,20,nov,75,3,-1,0,unknown,no
11755,42,self-employed,married,primary,no,3717,no,no,unknown,20,jun,235,1,-1,0,unknown,no
21436,33,self-employed,married,secondary,no,173,no,no,cellular,18,aug,26,5,-1,0,unknown,no
33927,34,self-employed,married,primary,no,7468,yes,yes,cellular,30,apr,383,1,-1,0,unknown,yes
19223,43,self-employed,married,secondary,no,5704,yes,no,cellular,6,aug,139,2,-1,0,unknown,no